.column {
	text-align: center;
}
.column h1 {
	margin-bottom: 40px;
}
.ls-container {
	margin: 0 auto;
	display: inline-block;
}
.item > .name {
	font-weight: bold;
}
.search-input {
	border-radius: 3px;
	border: 1px solid #eee;
}