.ls-container {
    display: inline-block;
    .ls-items,
    .ls-selected-items {
        display: inline-block;
        border: 1px solid gray;
    }
    .ls-selected-items {
        margin-left: 50px;
    }
}